<app-header-collapse [empty]="false">
  <div title>{{'monitoring.mainTitle' | translate}}</div>
  <div content>
    <a href="" (click)="logout()">{{ 'monitoring.logout' | translate }} {{ currentUser.username }}</a>
  </div>
</app-header-collapse>

<div class="monitoring" *ngIf="allData$ | async as allData; else loader">
    <div class="card info">
      <app-current-process-info [currentProcessInfo]=allData.currentProcessInfo></app-current-process-info>
    </div>


    <div class="card disk-status-list">
      <app-disk-status *ngFor="let ds of allData.diskStatus" [diskStatus]=ds></app-disk-status>
    </div>

    <div class="card types">
      <div class="type" *ngFor="let torrentType of allData.torrentTypes">
        <app-torrent-destination [torrentDestination]=torrentType></app-torrent-destination>
      </div>

    </div>




</div>

<ng-template #loader>
  <app-loading-page></app-loading-page>
</ng-template>

