@import "../../../colors.scss";

:host {
  background-color: $bgSecondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-bottom: 50px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    width: 90%;
    min-height: 30px;
    font-size: $fsMainTitle;
    padding-top: 10px;
  }

  .wrapper-content {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-collapse {
    bottom: -17px;
    position: relative;

    background-color: $bgSecondary;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    line-height: 0px;

    i {
      font-size: 35px;
    }
  }

}
