<a (click)="close()"><i class="material-icons">keyboard_arrow_left</i><span>{{ 'sideMenu.backLink' | translate }}</span></a>
<a (click)="close()" [routerLink]="['/private/add-torrents']"><i class="material-icons">note_add</i><span>{{ 'sideMenu.addFormLink' | translate }}</span></a>

<div class="divider"></div>
<ng-container *ngIf="externalLinks$ | async as links">
  <a *ngFor="let link of links" (click)="close()" href="{{ link.link }}" target="_blank"><img src="{{ link.icon }}" class="ygg"><span>{{ link.name }}</span></a>
</ng-container>

<div class="divider"></div>
<a (click)="logout()" *ngIf="isLogged()"><i class="material-icons">transfer_within_a_station</i><span>{{ 'sideMenu.logout' | translate }}</span></a>
