@import "../../../colors.scss";

:host {
  height: 100%;
  width: 300px;
  padding: 10px;
  background-color: $bgPrimary;
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-left: 10px;
    }

    .ygg {
      width: 25px;
      border-radius: 4px;
    }
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    color: $textPrimary;
    cursor: pointer;
  }

  a:hover, a:active {
    background-color: $bgSecondary;
    opacity: 0.7;
  }
}
