<div class="card">
  <div class="main">
    <div class="infos" (click)="collapse()">
      <div class="title-compact">{{torrent.computedData.title}}</div>
      <div class="tags">
        <span *ngFor="let t of torrent.computedData.tags" class="tag" [ngStyle]="{'background-color': t.color }">{{ t.name }}</span>
      </div>

      <div [@slideInOut]="collapseAnimation" class="collapse">
        <div class="title-full">
          {{torrent.title}}
        </div>
      </div>

      <div class="stats"><span class="size">{{torrent.size}}</span>  <span [class.seeds-no]="torrent.seeds === 0" [class.seeds]="torrent.seeds > 0">{{ torrent.seeds }} seeds</span></div>


    </div>

    <div class="actions">
      <div *ngIf="isAdding" class="loading-button">
        <div class="lds-dual-ring"></div>
      </div>

      <ng-container *ngIf="!added && !isAdding">
        <i class="material-icons btn-action" (click)="add(torrent, currentDest)">add_circle</i>
        <a target="_blank" rel="noopener noreferrer" href="{{torrent.desc}}" ><i class="material-icons btn-action">remove_red_eye</i></a>
      </ng-container>
    </div>
  </div>

  <div (click)="collapse()" class="more"><span>more</span></div>

  <div class="error">
    <app-error-area [errors]=errors></app-error-area>
  </div>
  <ng-container *ngIf="added">
    <i class="material-icons done" >done</i>
    Torrent ajouté
  </ng-container>




</div>
