<div class="card torrent">
  <div class="main">
    <div class="infos">
      <div>{{torrent.title}}</div>
    <div>{{torrent.size}} - {{ torrent.seeds }}</div>
    </div>

    <div class="actions">
      <div *ngIf="isAdding" class="loading-button">
        <div class="lds-dual-ring"></div>
      </div>

      <ng-container *ngIf="!added && !isAdding">
        <i class="material-icons btn-action" (click)="add(torrent, currentDest)">add_circle</i>
      </ng-container>
    </div>
  </div>

  <div class="error">
    <app-error-area [errors]=errors></app-error-area>
  </div>
  <ng-container *ngIf="added">
    <i class="material-icons done" >done</i>
    Torrent ajouté
  </ng-container>




</div>
