@import "../../../colors.scss";

:host {
  .loading-button {
    width: 30px;
    height: 30px;
  }

  .dialog {
    background-color: $bgSecondary;
    padding: 20px;
    .dialog-title {
      font-size: 20px;
      padding-bottom: 10px;
      border-bottom: solid 1px $textSecondary
    }

    .content {
      color: $textWarning;
    }

    .actions {
      padding-top: 20px;
      margin-top: 10px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        margin-top: 20px;
      }
    }
  }
}
