@import "../../../colors.scss";

:host {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  .search-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 200px;

    .btn-search {
      width: 70px;
      height: 54px;
      background-color: $drawPrimary;
      border: solid 2px $drawPrimary;
      font-size: 1.2em;
      color: $textInverted;
      cursor: pointer;
    }
  }

  .warning {
    word-break: break-word;
    color: $textWarning;
  }
}
