<div class="card search">
  <div class="search-title"  (click)="toggleForm()">
    <div>{{ 'browserSearch.title' | translate }}</div>
    <div><i class="material-icons">keyboard_arrow_down</i></div>
  </div>

  <form [@slideInOut]="formAnimation" (submit)="search()">
    <app-destination-list [destinations]=destinations [selected]=selected (selectEvent)=selectDestination($event)></app-destination-list>

    <div class="search-input">
      <input class="input-text" type="text" [formControl]="form.get('searchValue')"
            placeholder="{{ 'browser.placeholderSearch' | translate }}">

      <button class="btn-search" type="submit">
        <i class="material-icons">send</i>
      </button>
    </div>

  </form>
</div>





