@import "../../../colors.scss";
@import "../../../mixin.scss";

:host {
  @include tohr-card;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .head {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: space-between;
    justify-content: center;
    .date {
      @include tohr-title-secondary;
      display: flex;
      flex-grow: 2;
      align-items: center;
    }
    .actions {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;

      em {
        font-size: 30px;
      }
    }
  }

  .infos {
    display: flex;
    flex-direction: row;

    .destination {
      font-size: 40px;
      margin-right: 10px;
    }
  }

  .infos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
  }

  .title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    span {
      @include tohr-title-primary;
      width: 100%;;
    }

    em {
      font-size: 20px;
    }



  }

}
