:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 100px;
  .destination-icon {
    display: flex;
    flex-direction: column;
    width: 60px;
    padding: 5px;
    overflow-wrap: break-word;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

}
