<div id="uploader" *ngIf="destinations$ | async as destinations">
  <div>
      <input type="file" id="file"  accept="*" (change)="updateSelectedFiles($event.target.files)" multiple />
      <label for="file" class="btn-1">{{ 'uploadForm.selectTorrent' | translate }}<span id="fileNumber">{{ fileNumber }} {{ 'uploadForm.fileNumber' | translate }}</span></label>
  </div>

  <br>
  <div> {{ 'uploadForm.addIn' | translate }}</div>
  <app-destination-list [destinations]=destinations [selected]=destination (selectEvent)=selectDestination($event)></app-destination-list>
  <div class="warning">{{ destination.warning }}</div>


  <app-error-area [errors]="errors"></app-error-area>

  <div class="actions">
      <button class="btn-primary" *ngIf="!isUploading" (click)="uploadTorrents()">{{ 'uploadForm.buttonUpload' | translate }}</button>
      <div *ngIf="isUploading" class="loader-wrapper">
        <div class="loading-button">
          <div class="lds-dual-ring"></div>
        </div>
      </div>
  </div>

</div>
