@import '../../../colors.scss';

:host {
  .card {
    margin-bottom: 10px;
    .title {
      text-align: center;
      font-size: $fsSectionTitle;
      margin-bottom:20px;
      opacity: 0.8;

    }
  }

  .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;

    span:nth-child(1) {
      font-size: $fsLabel;
      opacity: 0.7;
      width: 153px;
    }

    span:nth-child(2) {
      text-align: right;
    }
  }

  .file-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filename, .announce, .scrape {
    color: $textSecondary;
    font-size: $fsLabel;
  }

  .tracker:not(:last-child) {
    padding-bottom: 3px;
    border-bottom: solid 1px $textSecondary;
  }

  .disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .actions {
    margin-top: 13px;
    width: 200px;
    display: flex;
    flex-direction: row;
    border-top: $textSecondary 1px solid;
    padding-top: 5px;
    justify-content: center;
    i {
      font-size: 30px;
        color: $drawPrimary;
    }

    i:not(:last-child) {
      margin-right: 20px;
    }

  }

}
