@import '../../../colors.scss';

:host {
  .card {
    margin-bottom: 10px;
    .title {
      font-size: 25px;
      margin-bottom:5px;
    }
  }

  .filename, .announce, .scrape {
    color: $textSecondary;
    font-size: 12px;
  }

  .tracker:not(:last-child) {
    padding-bottom: 3px;
    border-bottom: solid 1px $textSecondary;
  }


  .actions {
    margin-top: 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    i {
      font-size: 30px;
        color: $drawPrimary;
    }

  }

}
