
<ng-container *ngIf="(torrent$ | async) as torrent; else loading">
  <app-header-collapse [empty]="false" [defaultDisplay]="true">
    <div title>{{ torrent.name }}</div>
    <div content>
      <div class="actions">
        <i class="material-icons btn-action" (click)="openMoveDialog(torrent)">forward</i>
        <i class="material-icons btn-action" (click)="openDialog(torrent)">delete_forever</i>
      </div>
    </div>
  </app-header-collapse>

  <div class="card">
      <div class="title">{{ 'torrentDetail.main' | translate}}</div>
      <div class="data">
        <span class="label">{{ 'torrentDetail.completeName' | translate }} : </span>
        <span>{{ torrent.name }}</span>
      </div>
      <div class="data">
        <span class="label">{{ 'torrentDetail.destination' | translate }} :</span>
        <span>{{ torrent.destination? torrent.destination.path : '-'}}</span>
      </div>
      <div class="data">
        <span class="label">{{ 'torrentDetail.addedDate' | translate}}</span>
        <span>{{ torrent.addedDate * 1000 | date:'yyyy/MM/dd HH:mm:ss'}}</span>
      </div>
  </div>

  <div class="card">
    <div class="title">{{ 'torrentDetail.data-size' | translate}}</div>
    <app-progress-bar [torrent]=torrent></app-progress-bar>
    <div class="data">
      <span class="label">{{ 'torrentDetail.totalSize' | translate}} :</span>
      <span>{{ torrent.totalSize | filesize }}</span>
    </div>
    <div class="data">
      <span class="label">{{ 'torrentDetail.downloaded' | translate}} :</span>
      <span>{{ torrent.rateDownload | filesize }} ( {{ torrent.percentDone * 100 }} % )</span>
    </div>
    <div class="data">
      <span class="label">{{ 'torrentDetail.uploaded' | translate}} :</span>
      <span>{{ torrent.rateUpload | filesize }}</span>
    </div>
    <div class="data">
      <span class="label">{{ 'torrentDetail.status' | translate}} :</span>
      <span>{{ 'torrentStatus.'+ torrent.statusStr | translate}}</span>
    </div>
  </div>

  <div class="card">
    <div class="title">{{ torrent.files.length }} {{ 'torrentDetail.files' | translate}} </div>
    <div *ngFor="let f of torrent.files" class="file-data">
      <span class="filename">... {{f.name.substr(f.name.length - 15)}}</span>
      <span class="file-size">{{ f.bytesCompleted | filesize}}/{{ f.length | filesize}}</span>
      <span>
        <i *ngIf="f.length > f.bytesCompleted" class="material-icons btn-action disabled">cloud_download</i>
        <i *ngIf="!(f.length > f.bytesCompleted)" (click)="openDownloadWarning(torrent, f.name)" class="material-icons btn-action">cloud_download</i>
      </span>

    </div>
  </div>

  <div class="card">
    <div class="title">{{ 'torrentDetail.trackers' | translate}}</div>
    <div *ngFor="let t of torrent.trackers" class="tracker">
      <div class="announce">{{t.announce}}</div>
      <div class="scrape">{{ t.scrape}}</div>
    </div>
  </div>
</ng-container>



<ng-template #loading>
  <app-loading-page [errors]="errors" [errorMessage]="'torrentDetail.errors.prefix' | translate"
    [loadingMessage]="'torrentDetail.loading' | translate"></app-loading-page>
</ng-template>
