<div class="main-toolbar">
  <div class="menu">
    <i *ngIf="isLogged()" class="material-icons btn-action" (click)="openSideMenu()">menu</i>
    <img src="assets/favicon.ico" class="logo">
  </div>


  <h1 class="title">
    {{title | async}}
  </h1>

  <div *ngIf="isLogged()" class="diskStatus" (click)="goToMonitoring()">
      <div class="available">{{ 'mainToolBar.available' | translate }}</div>
      <div *ngIf="(diskStatus$ | async) as disks">
        <ng-container *ngFor="let d of disks">
          {{ d.available | filesize }}
        </ng-container>

      </div>
  </div>
</div>

