@import "../../../colors.scss";

:host {
  .main-toolbar {
    height: 50px;
    background-color: $bgSecondary;
    .title {
      width: 250px;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    .menu {
      display: flex;
      padding-left: 10px;
      flex-direction: row;
      align-items: center;

      .logo {
        margin-left: 25px;
        height: 25px;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .diskStatus {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
    }
  }
}
