<div class="dashboard">
  <ng-container *ngIf="(torrentDestinations$ | async) as destinations">

    <app-torrent-browser-search [destinations]=destinations [selected]=defaultDestination (searchEvent)=search($event)></app-torrent-browser-search>

    <ng-template #distEmpty>
      {{ 'browser.emptyFilters' | translate }}
    </ng-template>




    <div class="results">

      <app-loading-page *ngIf="searching || searchErrors.length > 0" [errors]="searchErrors" [errorMessage]="'browser.errors.prefix' | translate"
        [loadingMessage]="'browser.loading' | translate"></app-loading-page>

      <ng-container *ngIf="!searching && searchErrors.length === 0  && searchResult.length > 0">
        <app-torrent-browser-item *ngFor="let torrent of searchResult" [torrent]="torrent" [currentDest]="form.getRawValue().destination"></app-torrent-browser-item>
      </ng-container>

      <div *ngIf="!searching && searchErrors.length === 0 && searchResult.length == 0">
        {{ 'browser.searchEmpty' | translate }}
      </div>

    </div>

  </ng-container>







</div>
