<app-header-collapse>
  <div title>{{title}}</div>
  <ng-container content *ngIf="(torrentDestinations$ | async) as destinations">
    <app-torrent-browser-search *ngIf="searchMode" [destinations]=destinations [selected]=selectedDestination (searchEvent)=search($event)></app-torrent-browser-search>
    <app-torrent-upload *ngIf="!searchMode"></app-torrent-upload>
    <a class="link" (click)="switchMode()">
      {{ switchLink }}
    </a>
  </ng-container>
</app-header-collapse>

<div class="dashboard">
  <ng-container *ngIf="(torrentDestinations$ | async) as destinations">
    <ng-template #distEmpty>
      {{ 'browser.emptyFilters' | translate }}
    </ng-template>




    <div class="results">

      <app-loading-page *ngIf="searching || searchErrors.length > 0" [errors]="searchErrors" [errorMessage]="'browser.errors.prefix' | translate"
        [loadingMessage]="'browser.loading' | translate"></app-loading-page>

      <ng-container *ngIf="!searching && searchErrors.length === 0  && searchResult.length > 0">
        <app-torrent-browser-item *ngFor="let torrent of searchResult" [torrent]="torrent" [currentDest]="selectedDestination"></app-torrent-browser-item>
      </ng-container>

      <div *ngIf="!searching && searchErrors.length === 0 && searchResult.length == 0">
        {{ 'browser.searchEmpty' | translate }}
      </div>

    </div>

  </ng-container>







</div>
