$bgPrimary: #f2f2f2;
$bgSecondary: white;
$bgOverlay: #000;

$textPrimary: #444;
$textSecondary: gray;
$textInverted: #f2f2f2;
$textError: #FF4136;

$borderError: #FF4136;

$drawPrimary: #0074D9;
$drawSecondary: #7FDBFF;
$drawDanger: #FF4136;
$drawBg: #c6c6c6;
$drawBgSecondary: #FFF;

