
.input-text {
  width: 100%;
  background-color: $drawBgSecondary;
  height: 38px;
  font-size: 19px;
  border: solid 2px $drawPrimary;
  color: $drawPrimary;
  padding-top: 6px;
  padding-bottom: 6px;
}

.select {
  width: 100%;
  background-color: $drawBgSecondary;
  height: 38px;
  font-size: 19px;
  border: solid 2px $drawPrimary;
  color: $drawPrimary;
  padding-top: 6px;
  padding-bottom: 6px;
}
