@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "~@angular/cdk/overlay-prebuilt.css";
@import "./colors.scss";
@import "./button.scss";
@import "./loader.scss";
@import "./form.scss";

h2 {
  margin: 0;
}
html,
body {
  background-color: $bgPrimary;
  font-family: roboto;
  color: $textPrimary;
}

.link {
  text-decoration: underline;
  color: $drawPrimary;

  &:hover {
    cursor: pointer;
  }
}

.card {
  overflow-wrap: break-word;
  word-break: break-all;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  padding: 10px;
  background-color: $bgSecondary;
}

.divider {
  width: 100%;
  border-top: 1px solid $textSecondary;
  margin-top: 10px;
  margin-bottom: 10px;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: $bgOverlay;
    opacity: 0.3 !important;
  }
}


