<div id="uploader" *ngIf="destinations$ | async as destinations">

  <ng-container *ngIf="externalLinks$ | async as links">
    <div class="card external-links">
      <div *ngFor="let link of links" class="link">
        <a href="{{ link.link }}" target="_blank"> <img src="{{ link.icon }}" />{{link.name}}</a>
    </div>
    </div>

  </ng-container>
  <div>
      <input type="file" id="file"  accept="*" (change)="updateSelectedFiles($event.target.files)" multiple />
      <label for="file" class="btn-1">{{ 'uploadForm.selectTorrent' | translate }}<span id="fileNumber">{{ fileNumber }} {{ 'uploadForm.fileNumber' | translate }}</span></label>
  </div>

  <br>
  <div class="card" >
      <app-destination-list [destinations]=destinations [selected]=destination (selectEvent)=selectDestination($event)></app-destination-list>
  </div>

  <app-error-area [errors]="errors"></app-error-area>

  <div class="actions">
      <button class="btn-secondary" *ngIf="!isUploading" (click)="cancel()">{{ 'uploadForm.buttonBack' | translate }}</button>
      <button class="btn-primary" *ngIf="!isUploading" (click)="uploadTorrents()">{{ 'uploadForm.buttonUpload' | translate }}</button>
      <div *ngIf="isUploading" class="loader-wrapper">
        <div class="loading-button">
          <div class="lds-dual-ring"></div>
        </div>
      </div>
  </div>

</div>
