<app-header-collapse [empty]="false" [defaultDisplay]="false">
  <div title>{{'torrentDashboard.mainTitle' | translate}}</div>
  <div content class="filter-form">
    <app-torrent-list-filter (filterEvent)="filter($event)"></app-torrent-list-filter>
  </div>
</app-header-collapse>

<div class="dashboard">
  <ng-container *ngIf="(torrents$ | async) as torrents; else listError">
    <ng-container *ngIf="torrents.length > 0; else listEmpty">
      <app-torrent-item *ngFor="let torrent of torrents" [torrent]=torrent>
      </app-torrent-item>
    </ng-container>

    <ng-template #listEmpty>
      {{ 'torrentDashboard.empty' | translate }}
    </ng-template>
  </ng-container>



  <ng-template #listError>
    <app-loading-page [errors]="errors" [errorMessage]="'torrentDashboard.errors.prefix' | translate"
      [loadingMessage]="'torrentDashboard.loading' | translate"></app-loading-page>
  </ng-template>

  <app-button-list-action [buttons]="sorters" (choice)="sortList($event)"></app-button-list-action>
</div>

